doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content


    block foot
      #footer
        foot.footer
          .container
            .span.text-muted (c) 2019 Moses System
